* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

.hide {
    display: none;
  }


.container {
    background: #ffffff;
    width: 90%;
    max-width: 1000px;
    margin: auto;

    /* Flex */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

body {
    background: #ffffff;
}

header {
    background: #ffffff;
    width: 100%;
    padding: 20px;

    /* Flex */
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

/* section id="menu" */

header #menu {
    width: 80%;

}

header #menu h1 {
    color: #333333;
    font-size: 50px;
    text-align: center;
    line-height: 70px;
    font-weight: bolder;
    padding: 10px;
}

header #menu .category {
    display: none;
}

header #menu nav {
    width: 100%;

    /* Flex */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header #menu nav a {
    background: #ffffff;
    color: #333333;
    text-align: center;
    text-decoration: none;
    padding: 10px;

    /* Flex */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header #menu nav a p {
    font-size: 12px;
    margin: 10px;

}

header #menu nav a div {
    background: #ffffff;
    width: 120px;
	height: 120px;
    border-radius: 50%;
    border: solid 3px #333333;
    margin: 5px;
    /* Flex */
    display: flex;
    align-items: center;
    justify-content: center;
}

header #menu nav a .lightBlue {
    border: solid 8px #00b6bd;
    
}

header #menu nav a .lightBlue:hover {
    border: solid 8px #00dbcd;
    background: #00dbcd;
    
}

header #menu nav a .darkBlue {
    border: solid 8px #005457;
    
}

header #menu nav a .darkBlue:hover {
    border: solid 8px #007175;
    background: #007175;
    
}

header #menu nav a .pink {
    border: solid 8px #fd0f81;
    
}

header #menu nav a .pink:hover {
    border: solid 8px #ff73b0;
    background: #ff73b0;
    
}

header #menu nav a .yellow {
    border: solid 8px #ff9811;
    
}

header #menu nav a .yellow:hover {
    border: solid 8px #ffcd00;
    background: #ffcd00;
    
}

header #menu nav a .green {
    border: solid 8px #4cba68;
    
}

header #menu nav a .green:hover {
    border: solid 8px #91dc5a;
    background: #91dc5a;
    
}

/* section id="header" */

header #header {
    width: 100%;
    text-align: center;

}

header #header .logo {
    color: #333333;
    font-size: 30px;
    padding: 10px;
}

header #header .logo img {
    width: 70px;
    vertical-align: top;
}

header #header .logo a {
    color: #333333;
    text-decoration: none;
    line-height: 70px;
    font-weight: bolder;
    padding: 10px;
}

header #header nav {
    width: 100%;

    /* Flex */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header #header nav a {
    background: #ffffff;
    color: #333333;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-right: 1px solid #D3D3D3;

    /* Flex */
    flex-grow: 1;
}

header #header nav a:nth-last-child(1) {
    border-right: none; 

}

header #header nav a:hover {
    background: #D3D3D3;
}

main {
    background: #ffffff;
    padding: 20px;
    width: 100%;

    /* Flex */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

main section {
    width: 80%;

    /* Flex */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

/* section id="medalsPage" */

main #medalsPage form {
    width: 50%;
    border-bottom: 2px solid #333333;
    padding: 3px;
    
    /* Flex */
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;  
}

main #medalsPage form input {
    background: #ffffff;
    padding: 10px;
    border: none;
    height: 20px;
    width: 100%;
    
}

main #medalsPage form button {
    background: #ffffff;
    padding-right: 5px;
    border: none;
}

main #medalsPage button {
    background: #ffffff;
    padding-right: 5px;
    border: none;
    cursor: pointer;
}

main #medalsPage .title {
    padding: 20px;
    
}

/* div class="medalsList" */

main #medalsPage .medalsList {
    width: 100%;
    
    /* flex */
    
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1;
}

/* main #medalsPage .medalsList .header {
    grid-column: 1 / 7;
}*/

main #medalsPage .list {
    width: 100%;
    
    /* flex */
    
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, auto);

}

main #medalsPage .list .num {
    grid-column: 1 / 2;
}

main #medalsPage .list .noc {
    grid-column: 2 / 3;
}

main #medalsPage .list .name {
    grid-column: 3 / 4;
}

main #medalsPage .list .sport {
    grid-column: 4 / 5;
}

main #medalsPage .list .medals {
    grid-column: 5 / 6;
}

main #medalsPage .list .total {
    grid-column: 6 / 7;
}

main #medalsPage .list a {
    padding: 5px;
}

main #medalsPage .medalsList a {
    padding: 5px;
}

/* section id="athletePage" */

main #athletePage button {
    background: #ffffff;
    width: 20px;
    border: none;
    cursor: pointer;
    justify-self: left;
}

main #athletePage ul {
    list-style: none;

}

main #athletePage ul li {
    padding: 5px;
    width: 100%;

    /* Flex */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

main #athletePage ul li div {
    width: 100%;
    padding: 20px;
}

main #athletePage ul li .whiteDiv {
    display: flex;
    align-items: center;
    flex-direction: column;

}

main #athletePage ul li .whiteDiv .figure {
    font-size: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
}


main #athletePage ul li .greyDiv {
    background: #F2F2F2;
    
    /* Flex */
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

main #athletePage ul li .greyDiv div {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    
}

main #athletePage ul li .greyDiv div a {
    padding: 5px;
    margin: 5px;
}

#data {
    background: #e9ecf4;
    padding: 5px;
}

.bandera {
    width: 5%;
}

.grey {
    background: #F2F2F2;
    height: 55px;
    padding-top: 3px;
    padding-bottom: 3px; 
}

.white {
    background:white;
    height: 55px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.noc {
    color: green;
    width: 200px;
}

.name {
    width: 200px;
}

.disciplina {
    color:blue;
    width: 200px;
}

.goldMedal {
    width: 30px;
	height: 30px;
    border-radius: 50%;
    color: #333333;
    font-weight: bold;
    font-size: 12px;
    background: #F2C94C;
    margin-right: 5px;
}

.silverMedal {
    width: 30px;
	height: 30px;
    border-radius: 50%;
    color: #333333;
    font-weight: bold;
    font-size: 12px;
    background: #BDBDBD;
    margin-right: 5px;
}

.bronzeMedal {
    width: 30px;
	height: 30px;
    border-radius: 50%;
    color: #333333;
    font-weight: bold;
    font-size: 12px;
    background: #E4954B;
    margin-right: 5px;
}

.totalMedals  {
    position: relative;
}

/*
.total {
    position: absolute;
    width: 30px;
	height: 30px;
    border-radius: 50%;
    background: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333333;
    font-weight: bold;
    font-size: 12px;
}
*/


.laurel {
    vertical-align: top;
    opacity: 0.8;
}


/* Responsive */

@media screen and (max-width: 768px) {

    .container {
        background: #ffffff;
        width: 100%;
        margin: auto;
    
        /* Flex */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    header #menu nav {
        width: 100%;
    
        /* Flex */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    header #menu nav a p {
        display: none;
    
    }

    header #menu h1 {
        color: #333333;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        font-weight: bolder;
        padding: 10px;
        margin-top: 20px;
    }

    header #menu .category {
        display: block;        
        font-size: 12px;
        text-align: center;
        margin: 15px;
    }
    
    
    header #menu nav a div {
        background: #ffffff;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: solid 2px #333333;
        margin: 0;
        /* Flex */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    header #menu nav a div img {
        width: 30px;
    }

    
}
